
.form-group {
    margin : 1em;
}
.form-group label {
    display: flex;
    font-weight: bold;
}
.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.wrapper {
    margin: 0 auto;


}


.wrapper--w50 {
    padding-top: 1%;
    padding-bottom: 1%;



}


.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff;
    

}

.card-4 {

    margin-top: 0;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 70%;
}





.button-getir {
    appearance: button;
    backface-visibility: hidden;
    background-color: #00aeff;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
  }
  
  .button-getir:disabled {
    cursor: default;
  }
  
  .button-getir:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }




  .card-4--wh100 {
    margin-top: 0;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 8px 12px 20px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}



  .wrapper--w100 {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .wrapper--w80 {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }




  .box-chart-w300{
    display: flex;
    margin-left: 1%;
    height: 700px;
    width: 640px;
  }

  .box-chart-wfull{
    margin-top: 1%;
    display: flex;
    margin-left: 1%;
    height: 600px;
    width: 98%;
  }

  #chart-container-pie-1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

  }





  #chart-container-bar-1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  #chart-container-plot-1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }







  @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

  .radion-wapper{

    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    display: inline-flex;
    background: #fff;
    height: 80px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  }

  .radion-wapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .radion-wapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .radion-wapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #00aeff;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #00aeff;
    background: #00aeff;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .radion-wapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }


 